{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="index-body">
        <h1 class="head-new">Новий чек</h1>
        <form method="post" class="che-form" autocomplete="off">
            {% csrf_token %}
            <div class="fie-con">
                {{ form.client.label_tag }}
                <div class="che-sel">{{ form.client }}</div>
            </div>
            <div style="padding-top: 10px">{{ form.student.label_tag }} <input type="checkbox" id="myCheck" onclick="myFunction()"></div>
            <div class="fie-con" id="gaba" style="display: none">
                <div class="che-sel">{{ form.student }}</div>
            </div>
            <div class="fie-con">
                {{ form.employer.label_tag }}
                <div class="che-sel">{{ form.employer }}</div>
            </div>
            <div class="fie-con">
                {{ form.course.label_tag }}
                <div class="che-sel">{{ form.course }}</div>
            </div>
            <div class="fie-con">
                {{ form.summary.label_tag }}
                <div class="che-num">{{ form.summary }}</div>
            </div>
            <button type="submit" class="che-but">Відправити</button>
        </form>
    </div>

    <script>
        function myFunction() {
            var checkBox = document.getElementById("myCheck");
            var gaba = document.getElementById("gaba");
            if (checkBox.checked == true) {
                gaba.style.display = "block";
            } else {
                gaba.style.display = "none";
            }
        }
    </script>
{% endblock %}